<div class="layout-column align-items-center mt-50">

  <section class="layout-row align-items-center justify-content-between">
    <label>Celsius: </label>
    <input type="number"  name="celsius" class="large" data-test-id="celsius-input"
           [(ngModel)]="cVal"
           [value]="cVal"
           (ngModelChange)="calculateFahrenheit($event)"
    />
  </section>

  <section class="layout-row align-items-center justify-content-between">
      <label>Fahrenheit: </label>
      <input type="number" name="fahrenheit" class="large" data-test-id="fahrenheit-input"
             [(ngModel)]="fVal"
             [value]="fVal"
             (ngModelChange)="calculateCelsius($event)"
      />
  </section>
</div>
